nav {
  width: max-content;
  left: 50%;
  position: fixed;
  padding: 0.7rem 2rem;
  transform: translateX(-50%);
  background: #00000030;
  z-index: 2;
  bottom: 2rem;
  display: flex;
  gap: 0.6rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}
nav a {
  padding: 0.8rem;
  font-size: 1rem;
}

nav a:hover {
  color: var(--text-color);
}

nav a.active {
  color: var(--text-color);
}
